# ---------------------
# Python
# ---------------------
*.pyc
__pycache__/

# ---------------------
# VS Code 配置
# ---------------------
.vscode/

# ---------------------
# 虚拟环境
# ---------------------
.venv/

# ---------------------
# 可选：数据或图片缓存
# ---------------------
# figures/